
.bodyDialog {
  padding: 10px;

  .closeImage {
    display: flex;
    justify-content: flex-end;
    cursor: pointer;
  }
  
  .dialogWrap {
    display: flex;
    flex-wrap: wrap;

    .left {
      padding: 0 20px;
    }
    
    .right {
      flex: 1;  

      .btnWrap {
        display: flex;
        justify-content: flex-end;
        margin-top: 10px;

        button:first-child {
          margin-right: 10px;
        }
      }
    }
  }
}

